body {
	background-color: black;
}

#lineNums {
	color: green;
	text-align: right;
	width: 17px;
	display: block;
	height: 100%;
	overflow: hidden;
}

#lineNums:after{
	color: blue;
	content: "~\a~\a~\a~\a~\a~\a~\a~";
}

#desc {
	padding: 20px;
	font-size: 12pt;
	font-family: 'Montserrat', sans-serif;
}

#content {
	width: 300px;
	height: 300px;
	color: green;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	text-align: center;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#statusBar{
	color: green;
	position: fixed;
	bottom: 0;
	width: 100%;
}
